@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 96.1%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 224 76% 28%; /* Deep Blue */
    --primary-foreground: 0 0% 98%;
    --secondary: 220 13% 91%; /* Light Grey */
    --secondary-foreground: 240 10% 3.9%;
    --muted: 220 13% 91%; /* Light Grey */
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 45 93% 47%; /* Golden Yellow */
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 20% 88%;
    --input: 210 20% 88%;
    --ring: 224 76% 28%;
    --chart-1: 224 76% 28%; /* Deep Blue */
    --chart-2: 45 93% 47%; /* Golden Yellow */
    --chart-3: 220 13% 65%; /* Medium Grey */
    --chart-4: 0 84% 60%; /* Destructive Red */
    --chart-5: 220 13% 91%; /* Light Grey */
    --radius: 0.5rem;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 231 48% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 231 48% 48%;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 224 76% 58%; /* Deep Blue */
    --primary-foreground: 0 0% 98%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%; /* Dark Grey */
    --muted-foreground: 240 5% 64.9%;
    --accent: 45 93% 57%; /* Golden Yellow */
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 224 76% 58%;
    --chart-1: 224 76% 58%;
    --chart-2: 45 93% 57%;
    --chart-3: 220 13% 45%;
    --chart-4: 0 62% 40%;
    --chart-5: 240 3.7% 25.9%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 231 48% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 231 48% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
